//dropping arrow in cloud
@keyframes arrow-down-cloud {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 25px);
  }
  100% {
    transform: translate(0, 50px);
  }
}

@keyframes check-mark-scale {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

//dropping arrow
@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
